/* .main > p:nth-child(3) {
  background-color: pink;
} */
/* .main > p:nth-child(3n) {
  background-color: pink;
} */
/* .main > p:nth-child(odd){
  background-color: pink;
}
.main > p:nth-child(even){
  background-color: skyblue;
} */
/* .main > p:first-child {
  background-color: pink;
} */
/* .main > p:not(:last-child) {
  background-color: skyblue;
} */
.main > p:not(:last-child) {
  border-bottom: 1px dashed silver;
}