.box {
  width: 100px;
  height: 100px;
}

.box1 {
  background-color: orange;
}

.box2 {
  background-color: skyblue;
  position: relative;
  top: 30px;
  left: 30px;
}

.box3 {
  background-color: tomato;
}
